{
  "openapi": "3.1.1",
  "info": {
    "title": "Build Canada Data API",
    "version": "1.0.0-alpha.2",
    "summary": "Cited, reproducible public data on Canadian governments, organizations and federal spending.",
    "description": "Read-only access to everything fact-factory publishes: the entity registry\n(jurisdictions, government organizations, Indigenous governments, charities and other\norganizations), their identifiers, relationships and lineage, and federal spending\nrows linked to them.\n\nThree rules shape the API:\n\n1. **Every fact carries its citation.** Fact-bearing objects have `provenance` (the\n   asset, release, pinned snapshot, captured file and row) and a ready-to-paste `cite`.\n2. **Every answer is reproducible.** Pass `as_of=<release>` and the same URL returns the\n   same bytes forever. Omit it and the response names the release it used.\n3. **Caveats are data.** `meta.caveats[]` carries machine-readable warnings, such as\n   `not_cross_source_total`. Act on them. Amounts from different spending sources\n   overlap: never add them.\n\nConventions: responses are `{data, meta, links}`; lists use cursor pagination\n(`limit`, `cursor`, `meta.next_cursor`); errors are RFC 9457 `application/problem+json`\nwith a stable `code`; money is a decimal string with an ISO 4217 `currency`; IDs are\n`gid://buildcanada/<Type>/<key>`. Each operation's cost in request units is in\n`x-bc-units`; each data field names its data dictionary term in `x-bc-dictionary`.\n\nNo key is needed to start: anonymous callers get 30 units a minute and 1,000 a day\nwith the read:public scope. Get a free key at https://auth.buildcanada.com/developers.\nAgents: start at https://data.buildcanada.com/llms.txt, or connect the MCP server at\nhttps://data.buildcanada.com/mcp.\n",
    "termsOfService": "https://data.buildcanada.com/docs/terms",
    "contact": {
      "name": "Build Canada data team",
      "url": "https://data.buildcanada.com/docs",
      "email": "data@buildcanada.com"
    },
    "license": {
      "name": "API responses carry each source's licence; Build Canada's own data is OGL-Canada-2.0",
      "url": "https://open.canada.ca/en/open-government-licence-canada"
    },
    "x-bc-status": "prelaunch"
  },
  "servers": [
    {
      "url": "https://data.buildcanada.com/v1",
      "description": "Production",
      "x-fern-server-name": "Production"
    },
    {
      "url": "https://data.staging.buildcanada.com/v1",
      "description": "Staging (bc_stg_ keys)",
      "x-fern-server-name": "Staging"
    }
  ],
  "security": [
    {
      "ApiKey": []
    },
    {
      "OAuth2": [
        "read:public"
      ]
    },
    {}
  ],
  "tags": [
    {
      "name": "Discovery",
      "description": "The index, this document, and who you are."
    },
    {
      "name": "Releases",
      "description": "Registry releases, the public version unit. Each pins the roster captures and spending snapshots it was built from; `as_of=<number>` reproduces it forever."
    },
    {
      "name": "Datasets",
      "description": "What each published dataset means, covers and is licensed under, with bulk links."
    },
    {
      "name": "Dictionary",
      "description": "The shared data dictionary. Every data field names its term."
    },
    {
      "name": "Search",
      "description": "Find entities by identifier or name, with the kind of match stated."
    },
    {
      "name": "Entities",
      "description": "The entity registry: parties with stable IDs, their external identifiers, dated relationships and lineage."
    },
    {
      "name": "Spending",
      "description": "Federal spending rows, each source with its own meaning of amount, and entity summaries under fixed rules. Never add amounts across sources."
    },
    {
      "name": "Bulk",
      "description": "Parquet files and Iceberg tables for whole releases."
    }
  ],
  "paths": {
    "/": {
      "get": {
        "operationId": "getIndex",
        "summary": "API index",
        "description": "The front door. Names the latest release and links to every collection, the OpenAPI\ndocument, the docs, llms.txt and the MCP server. Start here, or at\nhttps://data.buildcanada.com/llms.txt.",
        "tags": [
          "Discovery"
        ],
        "x-fern-sdk-method-name": "index",
        "x-bc-phase": 1,
        "x-bc-units": {
          "base": 1
        },
        "x-bc-scopes": [
          "read:public"
        ],
        "x-bc-cache": "short",
        "security": [
          {
            "ApiKey": []
          },
          {
            "OAuth2": [
              "read:public"
            ]
          },
          {}
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "The index.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "RateLimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "BC-Quota-Remaining": {
                "$ref": "#/components/headers/QuotaRemaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IndexResponse"
                },
                "examples": {
                  "index": {
                    "summary": "The index",
                    "value": {
                      "data": {
                        "name": "Build Canada Data API",
                        "version": "1.0.0-alpha.1",
                        "latest_release": 11,
                        "links": {
                          "openapi": "/v1/openapi.json",
                          "docs": "https://data.buildcanada.com/docs",
                          "llms_txt": "https://data.buildcanada.com/llms.txt",
                          "mcp": "https://data.buildcanada.com/mcp",
                          "releases": "/v1/releases",
                          "datasets": "/v1/datasets",
                          "dictionary": "/v1/dictionary",
                          "search": "/v1/search?q={q}",
                          "entities": "/v1/entities",
                          "spending": "/v1/spending",
                          "exports": "/v1/exports"
                        }
                      },
                      "meta": {
                        "release": 11,
                        "as_of": "11",
                        "request_id": "req_01JA8X3M2Q9R4T6V8W0Y2Z4B6C",
                        "caveats": []
                      },
                      "links": {
                        "self": "/v1"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/openapi.json": {
      "get": {
        "operationId": "getOpenapi",
        "summary": "This OpenAPI document",
        "description": "The OpenAPI 3.1 document for /v1, as JSON. It is the contract: request and response\nvalidation, SDKs, docs and MCP tool schemas are generated from it. Fields name their\ndata dictionary term in `x-bc-dictionary`; operations give their cost in `x-bc-units`.",
        "tags": [
          "Discovery"
        ],
        "x-fern-sdk-method-name": "openapi",
        "x-bc-phase": 1,
        "x-bc-units": {
          "base": 1
        },
        "x-bc-scopes": [
          "read:public"
        ],
        "x-bc-cache": "short",
        "security": [
          {
            "ApiKey": []
          },
          {
            "OAuth2": [
              "read:public"
            ]
          },
          {}
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "The OpenAPI document.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "RateLimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "BC-Quota-Remaining": {
                "$ref": "#/components/headers/QuotaRemaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "An OpenAPI 3.1 document.",
                  "required": [
                    "openapi",
                    "info",
                    "paths"
                  ],
                  "properties": {
                    "openapi": {
                      "type": "string",
                      "description": "The OpenAPI version.",
                      "examples": [
                        "3.1.1"
                      ]
                    },
                    "info": {
                      "type": "object",
                      "description": "The document's info object."
                    },
                    "paths": {
                      "type": "object",
                      "description": "The operations."
                    }
                  }
                },
                "examples": {
                  "document": {
                    "summary": "The start of the document",
                    "value": {
                      "openapi": "3.1.1",
                      "info": {
                        "title": "Build Canada Data API",
                        "version": "1.0.0-alpha.1"
                      },
                      "paths": {}
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/me": {
      "get": {
        "operationId": "getMe",
        "summary": "The caller, plan and limits",
        "description": "Who the API thinks you are: the account and key (or OAuth client), the plan, the\nscopes granted and this period's usage. Works anonymously. Use it to check a key\nbefore a long job.",
        "tags": [
          "Discovery"
        ],
        "x-fern-sdk-method-name": "get",
        "x-fern-sdk-group-name": "me",
        "x-bc-phase": 1,
        "x-bc-units": {
          "base": 1
        },
        "x-bc-scopes": [
          "read:public"
        ],
        "x-bc-cache": "none",
        "security": [
          {
            "ApiKey": []
          },
          {
            "OAuth2": [
              "read:public"
            ]
          },
          {}
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "The caller.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "RateLimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "BC-Quota-Remaining": {
                "$ref": "#/components/headers/QuotaRemaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeResponse"
                },
                "examples": {
                  "key": {
                    "summary": "A free-plan API key",
                    "value": {
                      "data": {
                        "authenticated": true,
                        "account": {
                          "id": "acct_42",
                          "name": "Brendan Samek",
                          "kind": "personal"
                        },
                        "key": {
                          "id": "key_981",
                          "name": "newsroom-scripts",
                          "prefix": "bc_live_4fQ9",
                          "expires_at": null
                        },
                        "oauth_client": null,
                        "plan": "free",
                        "scopes": [
                          "read:public",
                          "read:persons",
                          "usage:read"
                        ],
                        "limits": {
                          "rate_per_minute": 120,
                          "burst": 240,
                          "monthly_units": 100000,
                          "daily_units": null,
                          "monthly_units_used": 38760
                        }
                      },
                      "meta": {
                        "release": 11,
                        "as_of": "11",
                        "request_id": "req_01JA8X3M2Q9R4T6V8W0Y2Z4B6C",
                        "caveats": []
                      },
                      "links": {
                        "self": "/v1/me"
                      }
                    }
                  },
                  "anonymous": {
                    "summary": "No key",
                    "value": {
                      "data": {
                        "authenticated": false,
                        "account": null,
                        "key": null,
                        "oauth_client": null,
                        "plan": "anonymous",
                        "scopes": [
                          "read:public"
                        ],
                        "limits": {
                          "rate_per_minute": 30,
                          "burst": 30,
                          "monthly_units": null,
                          "daily_units": 1000,
                          "monthly_units_used": 212
                        }
                      },
                      "meta": {
                        "release": 11,
                        "as_of": "11",
                        "request_id": "req_01JA8X3M2Q9R4T6V8W0Y2Z4B6C",
                        "caveats": []
                      },
                      "links": {
                        "self": "/v1/me"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/me/usage": {
      "get": {
        "operationId": "getUsage",
        "summary": "Usage by time, key and operation",
        "description": "Your account's requests and units by minute, hour or day, optionally split by key and\noperation. Past days come from the durable daily rollup (the billing source); the\ncurrent day is live and up to a minute behind. Needs the usage:read scope; not\navailable anonymously.",
        "tags": [
          "Discovery"
        ],
        "x-fern-sdk-method-name": "usage",
        "x-fern-sdk-group-name": "me",
        "x-bc-phase": 1,
        "x-bc-units": {
          "base": 1,
          "large_page": 2
        },
        "x-bc-scopes": [
          "usage:read"
        ],
        "x-bc-cache": "none",
        "x-fern-pagination": {
          "cursor": "$request.cursor",
          "next_cursor": "$response.meta.next_cursor",
          "results": "$response.data"
        },
        "security": [
          {
            "ApiKey": []
          },
          {
            "OAuth2": [
              "usage:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "description": "Bucket size. `minute` allows at most a 24-hour range; `hour` at most 31 days.",
            "schema": {
              "type": "string",
              "enum": [
                "minute",
                "hour",
                "day"
              ],
              "default": "day"
            },
            "example": "day"
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "Start of the range (inclusive). Default: 30 days ago for day, 24 hours ago otherwise.",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2026-09-27T00:00:00Z"
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "End of the range (exclusive). Default: now.",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2026-09-28T00:00:00Z"
          },
          {
            "name": "group_by",
            "in": "query",
            "required": false,
            "description": "Split buckets by `key`, `operation` or both, comma-separated.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "key",
                  "operation"
                ]
              }
            },
            "example": [
              "key",
              "operation"
            ],
            "style": "form",
            "explode": false
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of usage buckets.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "RateLimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "BC-Quota-Remaining": {
                "$ref": "#/components/headers/QuotaRemaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageResponse"
                },
                "examples": {
                  "by_operation": {
                    "summary": "One day by key and operation",
                    "value": {
                      "data": [
                        {
                          "bucket_start": "2026-09-27T00:00:00Z",
                          "key_id": "key_981",
                          "operation": "getEntity",
                          "requests": 412,
                          "units": 412,
                          "cache_hits": 288,
                          "errors_4xx": 3,
                          "errors_5xx": 0
                        },
                        {
                          "bucket_start": "2026-09-27T00:00:00Z",
                          "key_id": "key_981",
                          "operation": "searchEntities",
                          "requests": 40,
                          "units": 120,
                          "cache_hits": 2,
                          "errors_4xx": 0,
                          "errors_5xx": 0
                        }
                      ],
                      "meta": {
                        "release": null,
                        "as_of": "2026-09-28T00:00:00Z",
                        "request_id": "req_01JA8X3M2Q9R4T6V8W0Y2Z4B6C",
                        "caveats": [],
                        "limit": 50,
                        "next_cursor": null,
                        "count": null
                      },
                      "links": {
                        "self": "/v1/me/usage?granularity=day&from=2026-09-27T00:00:00Z&to=2026-09-28T00:00:00Z&group_by=key,operation",
                        "next": null
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/releases": {
      "get": {
        "operationId": "listReleases",
        "summary": "List releases",
        "description": "Every published registry release, newest first, with counts. A release is the public\nversion unit: pass its number as `as_of` to any operation to get exactly what it\nserved. Releases are immutable once published and are served for at least 24 months.",
        "tags": [
          "Releases"
        ],
        "x-fern-sdk-method-name": "list",
        "x-fern-sdk-group-name": "releases",
        "x-bc-phase": 1,
        "x-bc-units": {
          "base": 1,
          "large_page": 2
        },
        "x-bc-scopes": [
          "read:public"
        ],
        "x-bc-cache": "short",
        "x-fern-pagination": {
          "cursor": "$request.cursor",
          "next_cursor": "$response.meta.next_cursor",
          "results": "$response.data"
        },
        "security": [
          {
            "ApiKey": []
          },
          {
            "OAuth2": [
              "read:public"
            ]
          },
          {}
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of releases.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "RateLimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "BC-Quota-Remaining": {
                "$ref": "#/components/headers/QuotaRemaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReleaseListResponse"
                },
                "examples": {
                  "releases": {
                    "summary": "The newest release",
                    "value": {
                      "data": [
                        {
                          "id": "gid://buildcanada/Release/11",
                          "number": 11,
                          "published_at": "2026-09-27T06:14:02Z",
                          "build_versions": {
                            "registry_build": "registry-build-v4",
                            "resolution": "resolution-v5",
                            "occurrences": "occurrences-v3",
                            "names": "names-v2",
                            "matching": "matching-v4"
                          },
                          "inputs": [],
                          "counts": {
                            "entities": 184223,
                            "identifiers": 402118,
                            "relationships": 96410,
                            "spending_records": 9841220,
                            "spending_parties": 12301877,
                            "linked_parties": 8410022
                          },
                          "checks": [],
                          "changes": [],
                          "links": {
                            "self": "/v1/releases/11",
                            "exports": "/v1/exports?release=11"
                          }
                        }
                      ],
                      "meta": {
                        "release": 11,
                        "as_of": "11",
                        "request_id": "req_01JA8X3M2Q9R4T6V8W0Y2Z4B6C",
                        "caveats": [],
                        "limit": 1,
                        "next_cursor": "c1.eyJyIjoxMSwiayI6IjAxSjlaSzRUNk04UTJSNVY3WDNCMU4wQzREIn0.Jq3v",
                        "count": null
                      },
                      "links": {
                        "self": "/v1/releases?limit=1",
                        "next": "/v1/releases?limit=1&cursor=c1.eyJyIjoxMSwiayI6IjAxSjlaSzRUNk04UTJSNVY3WDNCMU4wQzREIn0.Jq3v"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/releases/latest": {
      "get": {
        "operationId": "getLatestRelease",
        "summary": "The latest release",
        "description": "The latest published release, with its pinned inputs, checks and changelog. Requests\nwithout `as_of` resolve to it. Cached for 30 seconds; pin its number to make your\nresults reproducible.",
        "tags": [
          "Releases"
        ],
        "x-fern-sdk-method-name": "latest",
        "x-fern-sdk-group-name": "releases",
        "x-bc-phase": 1,
        "x-bc-units": {
          "base": 1
        },
        "x-bc-scopes": [
          "read:public"
        ],
        "x-bc-cache": "short",
        "security": [
          {
            "ApiKey": []
          },
          {
            "OAuth2": [
              "read:public"
            ]
          },
          {}
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          }
        ],
        "responses": {
          "200": {
            "description": "The latest release.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "RateLimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "BC-Quota-Remaining": {
                "$ref": "#/components/headers/QuotaRemaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReleaseResponse"
                },
                "examples": {
                  "latest": {
                    "summary": "Release 11",
                    "value": {
                      "data": {
                        "id": "gid://buildcanada/Release/11",
                        "number": 11,
                        "published_at": "2026-09-27T06:14:02Z",
                        "build_versions": {
                          "registry_build": "registry-build-v4",
                          "resolution": "resolution-v5",
                          "occurrences": "occurrences-v3",
                          "names": "names-v2",
                          "matching": "matching-v4"
                        },
                        "inputs": [
                          {
                            "kind": "iceberg_snapshot",
                            "asset": "sources/ca/tbs/proactive_grants",
                            "sha256": null,
                            "snapshot_id": "2534519102996296639",
                            "retrieved_at": "2026-09-26T04:59:12Z"
                          },
                          {
                            "kind": "capture",
                            "asset": "sources/ca-ab/municipal_affairs/municipalities",
                            "sha256": "388298822179d1c949ea92a24e651d6025055e90a421202f008931b7724167ea",
                            "snapshot_id": null,
                            "retrieved_at": "2026-09-20T05:02:40Z"
                          }
                        ],
                        "counts": {
                          "entities": 184223,
                          "identifiers": 402118,
                          "relationships": 96410,
                          "spending_records": 9841220,
                          "spending_parties": 12301877,
                          "linked_parties": 8410022
                        },
                        "checks": [
                          {
                            "name": "api_columns_allowlisted",
                            "blocking": true,
                            "passed": true,
                            "detail": null
                          },
                          {
                            "name": "api_summary_reconciles",
                            "blocking": true,
                            "passed": true,
                            "detail": "200 of 200 sampled entities reconcile"
                          }
                        ],
                        "changes": [
                          {
                            "kind": "entities_added",
                            "summary": "1,204 entities created from unlinked recipients (create-v4).",
                            "count": 1204
                          }
                        ],
                        "links": {
                          "self": "/v1/releases/11",
                          "exports": "/v1/exports?release=11"
                        }
                      },
                      "meta": {
                        "release": 11,
                        "as_of": "11",
                        "request_id": "req_01JA8X3M2Q9R4T6V8W0Y2Z4B6C",
                        "caveats": []
                      },
                      "links": {
                        "self": "/v1/releases/11"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/releases/{release}": {
      "get": {
        "operationId": "getRelease",
        "summary": "Get a release",
        "description": "One release: when it was published, the roster captures and Iceberg snapshots it\npinned, its row counts, its blocking checks and its changelog.",
        "tags": [
          "Releases"
        ],
        "x-fern-sdk-method-name": "get",
        "x-fern-sdk-group-name": "releases",
        "x-bc-phase": 1,
        "x-bc-units": {
          "base": 1
        },
        "x-bc-scopes": [
          "read:public"
        ],
        "x-bc-cache": "release",
        "security": [
          {
            "ApiKey": []
          },
          {
            "OAuth2": [
              "read:public"
            ]
          },
          {}
        ],
        "parameters": [
          {
            "name": "release",
            "in": "path",
            "required": true,
            "description": "The release number.",
            "schema": {
              "$ref": "#/components/schemas/ReleaseNumber"
            },
            "example": 11
          },
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          },
          {
            "$ref": "#/components/parameters/IfNoneMatch"
          }
        ],
        "responses": {
          "200": {
            "description": "The release.",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/ETag"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "BC-Release": {
                "$ref": "#/components/headers/BCRelease"
              },
              "RateLimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "BC-Quota-Remaining": {
                "$ref": "#/components/headers/QuotaRemaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReleaseResponse"
                },
                "examples": {
                  "release": {
                    "summary": "Release 11",
                    "value": {
                      "data": {
                        "id": "gid://buildcanada/Release/11",
                        "number": 11,
                        "published_at": "2026-09-27T06:14:02Z",
                        "build_versions": {
                          "registry_build": "registry-build-v4",
                          "resolution": "resolution-v5",
                          "occurrences": "occurrences-v3",
                          "names": "names-v2",
                          "matching": "matching-v4"
                        },
                        "inputs": [
                          {
                            "kind": "iceberg_snapshot",
                            "asset": "sources/ca/tbs/proactive_grants",
                            "sha256": null,
                            "snapshot_id": "2534519102996296639",
                            "retrieved_at": "2026-09-26T04:59:12Z"
                          },
                          {
                            "kind": "capture",
                            "asset": "sources/ca-ab/municipal_affairs/municipalities",
                            "sha256": "388298822179d1c949ea92a24e651d6025055e90a421202f008931b7724167ea",
                            "snapshot_id": null,
                            "retrieved_at": "2026-09-20T05:02:40Z"
                          }
                        ],
                        "counts": {
                          "entities": 184223,
                          "identifiers": 402118,
                          "relationships": 96410,
                          "spending_records": 9841220,
                          "spending_parties": 12301877,
                          "linked_parties": 8410022
                        },
                        "checks": [
                          {
                            "name": "api_columns_allowlisted",
                            "blocking": true,
                            "passed": true,
                            "detail": null
                          },
                          {
                            "name": "api_summary_reconciles",
                            "blocking": true,
                            "passed": true,
                            "detail": "200 of 200 sampled entities reconcile"
                          }
                        ],
                        "changes": [
                          {
                            "kind": "entities_added",
                            "summary": "1,204 entities created from unlinked recipients (create-v4).",
                            "count": 1204
                          }
                        ],
                        "links": {
                          "self": "/v1/releases/11",
                          "exports": "/v1/exports?release=11"
                        }
                      },
                      "meta": {
                        "release": 11,
                        "as_of": "11",
                        "request_id": "req_01JA8X3M2Q9R4T6V8W0Y2Z4B6C",
                        "caveats": []
                      },
                      "links": {
                        "self": "/v1/releases/11"
                      }
                    }
                  }
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/datasets": {
      "get": {
        "operationId": "listDatasets",
        "summary": "List datasets",
        "description": "Every dataset the API or bulk files serve: what one row means, coverage, freshness,\nlicence, the dictionary terms it uses and its bulk files. Read a dataset before\ndrawing conclusions from its rows.",
        "tags": [
          "Datasets"
        ],
        "x-fern-sdk-method-name": "list",
        "x-fern-sdk-group-name": "datasets",
        "x-bc-phase": 1,
        "x-bc-units": {
          "base": 1,
          "large_page": 2
        },
        "x-bc-scopes": [
          "read:public"
        ],
        "x-bc-cache": "release",
        "x-fern-pagination": {
          "cursor": "$request.cursor",
          "next_cursor": "$response.meta.next_cursor",
          "results": "$response.data"
        },
        "security": [
          {
            "ApiKey": []
          },
          {
            "OAuth2": [
              "read:public"
            ]
          },
          {}
        ],
        "parameters": [
          {
            "name": "prefix",
            "in": "query",
            "required": false,
            "description": "Only assets whose key starts with this, such as `sources/ca/` or `entities/`.",
            "schema": {
              "type": "string"
            },
            "example": "sources/ca/"
          },
          {
            "$ref": "#/components/parameters/AsOf"
          },
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          },
          {
            "$ref": "#/components/parameters/IfNoneMatch"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of datasets.",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/ETag"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "BC-Release": {
                "$ref": "#/components/headers/BCRelease"
              },
              "RateLimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "BC-Quota-Remaining": {
                "$ref": "#/components/headers/QuotaRemaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetListResponse"
                },
                "examples": {
                  "datasets": {
                    "summary": "Federal spending datasets",
                    "value": {
                      "data": [
                        {
                          "asset_key": "sources/ca/tbs/proactive_grants",
                          "title": "Proactive Disclosure of Grants and Contributions",
                          "record_meaning": "One row per amendment of a federal grant or contribution agreement, as departments proactively disclose them.",
                          "publisher": "Treasury Board of Canada Secretariat",
                          "license": "OGL-Canada-2.0",
                          "freshness": {
                            "latest_retrieved_at": "2026-09-26T04:59:12Z",
                            "cadence": "daily"
                          },
                          "coverage": {
                            "rows": 1313276,
                            "from_fiscal_year": "2005-06",
                            "to_fiscal_year": "2026-27",
                            "known_gaps": [
                              "recipient_type is required only for agreements starting on or after 2025-12-01."
                            ]
                          },
                          "dictionary_terms": [
                            "amount",
                            "canonical_id",
                            "fiscal_year",
                            "payer",
                            "payer_code",
                            "recipient",
                            "recipient_business_number"
                          ],
                          "caveats": [
                            {
                              "code": "agreement_value_not_paid",
                              "text": "proactive_grants amounts are agreement values, not money paid.",
                              "docs": "https://data.buildcanada.com/docs/caveats#agreement_value_not_paid"
                            },
                            {
                              "code": "not_cross_source_total",
                              "text": "Sources overlap. Never add amounts across sources.",
                              "docs": "https://data.buildcanada.com/docs/caveats#not_cross_source_total"
                            }
                          ],
                          "bulk": [
                            {
                              "release": 11,
                              "table": "spending.proactive_grants",
                              "format": "parquet",
                              "url": "https://files.buildcanada.com/releases/11/spending.proactive_grants.parquet",
                              "sha256": "3667aad550e2c7e217f983ab6ae39343a91b24faa32cbc38652f338be372cbf3",
                              "rows": 1313276,
                              "bytes": 412883920,
                              "iceberg": {
                                "catalog_uri": "https://catalog.cloudflarestorage.com/buildcanada/fact-factory",
                                "namespace": "spending",
                                "table": "proactive_grants",
                                "snapshot_id": "2534519102996296639"
                              }
                            }
                          ],
                          "links": {
                            "self": "/v1/datasets/sources%2Fca%2Ftbs%2Fproactive_grants?as_of=11",
                            "records": "/v1/spending?source=proactive_grants&as_of=11"
                          }
                        }
                      ],
                      "meta": {
                        "release": 11,
                        "as_of": "11",
                        "request_id": "req_01JA8X3M2Q9R4T6V8W0Y2Z4B6C",
                        "caveats": [],
                        "limit": 50,
                        "next_cursor": null,
                        "count": null
                      },
                      "links": {
                        "self": "/v1/datasets?prefix=sources%2Fca%2F&as_of=11",
                        "next": null
                      }
                    }
                  }
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/datasets/{asset_key}": {
      "get": {
        "operationId": "getDataset",
        "summary": "Get a dataset",
        "description": "One dataset by its fact-factory asset key. The key contains slashes, so percent-encode\nit in the path (`sources%2Fca%2Ftbs%2Fproactive_grants`), or follow `links.self` from\nthe list.",
        "tags": [
          "Datasets"
        ],
        "x-fern-sdk-method-name": "get",
        "x-fern-sdk-group-name": "datasets",
        "x-bc-phase": 1,
        "x-bc-units": {
          "base": 1
        },
        "x-bc-scopes": [
          "read:public"
        ],
        "x-bc-cache": "release",
        "security": [
          {
            "ApiKey": []
          },
          {
            "OAuth2": [
              "read:public"
            ]
          },
          {}
        ],
        "parameters": [
          {
            "name": "asset_key",
            "in": "path",
            "required": true,
            "description": "The percent-encoded asset key.",
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9_-]+(/[a-z0-9_-]+)*$"
            },
            "example": "sources/ca/tbs/proactive_grants"
          },
          {
            "$ref": "#/components/parameters/AsOf"
          },
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          },
          {
            "$ref": "#/components/parameters/IfNoneMatch"
          }
        ],
        "responses": {
          "200": {
            "description": "The dataset.",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/ETag"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "BC-Release": {
                "$ref": "#/components/headers/BCRelease"
              },
              "RateLimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "BC-Quota-Remaining": {
                "$ref": "#/components/headers/QuotaRemaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetResponse"
                },
                "examples": {
                  "proactive_grants": {
                    "summary": "Proactive grants",
                    "value": {
                      "data": {
                        "asset_key": "sources/ca/tbs/proactive_grants",
                        "title": "Proactive Disclosure of Grants and Contributions",
                        "record_meaning": "One row per amendment of a federal grant or contribution agreement, as departments proactively disclose them.",
                        "publisher": "Treasury Board of Canada Secretariat",
                        "license": "OGL-Canada-2.0",
                        "freshness": {
                          "latest_retrieved_at": "2026-09-26T04:59:12Z",
                          "cadence": "daily"
                        },
                        "coverage": {
                          "rows": 1313276,
                          "from_fiscal_year": "2005-06",
                          "to_fiscal_year": "2026-27",
                          "known_gaps": [
                            "recipient_type is required only for agreements starting on or after 2025-12-01."
                          ]
                        },
                        "dictionary_terms": [
                          "amount",
                          "canonical_id",
                          "fiscal_year",
                          "payer",
                          "payer_code",
                          "recipient",
                          "recipient_business_number"
                        ],
                        "caveats": [
                          {
                            "code": "agreement_value_not_paid",
                            "text": "proactive_grants amounts are agreement values, not money paid.",
                            "docs": "https://data.buildcanada.com/docs/caveats#agreement_value_not_paid"
                          },
                          {
                            "code": "not_cross_source_total",
                            "text": "Sources overlap. Never add amounts across sources.",
                            "docs": "https://data.buildcanada.com/docs/caveats#not_cross_source_total"
                          }
                        ],
                        "bulk": [
                          {
                            "release": 11,
                            "table": "spending.proactive_grants",
                            "format": "parquet",
                            "url": "https://files.buildcanada.com/releases/11/spending.proactive_grants.parquet",
                            "sha256": "3667aad550e2c7e217f983ab6ae39343a91b24faa32cbc38652f338be372cbf3",
                            "rows": 1313276,
                            "bytes": 412883920,
                            "iceberg": {
                              "catalog_uri": "https://catalog.cloudflarestorage.com/buildcanada/fact-factory",
                              "namespace": "spending",
                              "table": "proactive_grants",
                              "snapshot_id": "2534519102996296639"
                            }
                          }
                        ],
                        "links": {
                          "self": "/v1/datasets/sources%2Fca%2Ftbs%2Fproactive_grants?as_of=11",
                          "records": "/v1/spending?source=proactive_grants&as_of=11"
                        }
                      },
                      "meta": {
                        "release": 11,
                        "as_of": "11",
                        "request_id": "req_01JA8X3M2Q9R4T6V8W0Y2Z4B6C",
                        "caveats": []
                      },
                      "links": {
                        "self": "/v1/datasets/sources%2Fca%2Ftbs%2Fproactive_grants?as_of=11"
                      }
                    }
                  }
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/dictionary": {
      "get": {
        "operationId": "listDictionaryTerms",
        "summary": "List data dictionary terms",
        "description": "The shared data dictionary: one definition per concept, reused by every dataset. Each\ndata field in this API names its term in `x-bc-dictionary`. Per-asset notes are on\n/dictionary/{term}.",
        "tags": [
          "Dictionary"
        ],
        "x-fern-sdk-method-name": "list",
        "x-fern-sdk-group-name": "dictionary",
        "x-bc-phase": 1,
        "x-bc-units": {
          "base": 1,
          "large_page": 2
        },
        "x-bc-scopes": [
          "read:public"
        ],
        "x-bc-cache": "release",
        "x-fern-pagination": {
          "cursor": "$request.cursor",
          "next_cursor": "$response.meta.next_cursor",
          "results": "$response.data"
        },
        "security": [
          {
            "ApiKey": []
          },
          {
            "OAuth2": [
              "read:public"
            ]
          },
          {}
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Only terms whose name or meaning contains this text.",
            "schema": {
              "type": "string",
              "minLength": 2
            },
            "example": "fiscal"
          },
          {
            "$ref": "#/components/parameters/AsOf"
          },
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          },
          {
            "$ref": "#/components/parameters/IfNoneMatch"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of terms.",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/ETag"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "BC-Release": {
                "$ref": "#/components/headers/BCRelease"
              },
              "RateLimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "BC-Quota-Remaining": {
                "$ref": "#/components/headers/QuotaRemaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DictionaryTermListResponse"
                },
                "examples": {
                  "terms": {
                    "summary": "Terms",
                    "value": {
                      "data": [
                        {
                          "term": "record_type",
                          "meaning": "The kind of financial record.",
                          "type": "string",
                          "units": null,
                          "values": [
                            {
                              "value": "contract",
                              "meaning": "A procurement contract or aggregated contract total."
                            },
                            {
                              "value": "grant",
                              "meaning": "A grant agreement."
                            }
                          ],
                          "blank_means": "Never blank.",
                          "known_gaps": null,
                          "links": {
                            "self": "/v1/dictionary/record_type",
                            "docs": "https://data.buildcanada.com/docs/dictionary/record_type"
                          }
                        }
                      ],
                      "meta": {
                        "release": 11,
                        "as_of": "11",
                        "request_id": "req_01JA8X3M2Q9R4T6V8W0Y2Z4B6C",
                        "caveats": [],
                        "limit": 50,
                        "next_cursor": null,
                        "count": null
                      },
                      "links": {
                        "self": "/v1/dictionary?as_of=11",
                        "next": null
                      }
                    }
                  }
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/dictionary/{term}": {
      "get": {
        "operationId": "getDictionaryTerm",
        "summary": "Get a dictionary term",
        "description": "One definition with its allowed values, what a blank means, known gaps, and every\nasset's note on how it differs. Call this before interpreting a field you have not\nseen; `amount` and `fiscal_year` differ by source.",
        "tags": [
          "Dictionary"
        ],
        "x-fern-sdk-method-name": "get",
        "x-fern-sdk-group-name": "dictionary",
        "x-bc-phase": 1,
        "x-bc-units": {
          "base": 1
        },
        "x-bc-scopes": [
          "read:public"
        ],
        "x-bc-cache": "release",
        "security": [
          {
            "ApiKey": []
          },
          {
            "OAuth2": [
              "read:public"
            ]
          },
          {}
        ],
        "parameters": [
          {
            "name": "term",
            "in": "path",
            "required": true,
            "description": "The term's name.",
            "schema": {
              "type": "string",
              "pattern": "^[a-z][a-z0-9_]*$"
            },
            "example": "fiscal_year"
          },
          {
            "$ref": "#/components/parameters/AsOf"
          },
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          },
          {
            "$ref": "#/components/parameters/IfNoneMatch"
          }
        ],
        "responses": {
          "200": {
            "description": "The term.",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/ETag"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "BC-Release": {
                "$ref": "#/components/headers/BCRelease"
              },
              "RateLimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "BC-Quota-Remaining": {
                "$ref": "#/components/headers/QuotaRemaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DictionaryTermResponse"
                },
                "examples": {
                  "fiscal_year": {
                    "summary": "fiscal_year",
                    "value": {
                      "data": {
                        "term": "fiscal_year",
                        "meaning": "Four-digit year identifying the Government of Canada fiscal year (April to March) the record belongs to.",
                        "type": "int32",
                        "units": null,
                        "values": [],
                        "blank_means": "The source gives no parseable year.",
                        "known_gaps": "Derived per source (see the per-asset notes). Aggregated contracts publish a calendar year here.",
                        "asset_notes": {
                          "sources/ca/tbs/proactive_grants": "The fiscal year (April to March) containing agreement_start_date, named by the calendar year it starts in."
                        },
                        "links": {
                          "self": "/v1/dictionary/fiscal_year",
                          "docs": "https://data.buildcanada.com/docs/dictionary/fiscal_year"
                        }
                      },
                      "meta": {
                        "release": 11,
                        "as_of": "11",
                        "request_id": "req_01JA8X3M2Q9R4T6V8W0Y2Z4B6C",
                        "caveats": []
                      },
                      "links": {
                        "self": "/v1/dictionary/fiscal_year?as_of=11"
                      }
                    }
                  }
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/search": {
      "get": {
        "operationId": "searchEntities",
        "summary": "Search entities by name or identifier",
        "description": "Finds entities by identifier first, then by name. A query that is a BN9, BN15,\ncorporation number, band number, LEI or census code matches exactly (match.kind\nidentifier). Otherwise names and aliases match after normalization (exact); with\nmode=fuzzy, trigram similarity adds candidates (fuzzy), which are guesses to check,\nnot matches. There is no address or postal code search. Phase 1 searches entities\nonly; other types arrive additively.",
        "tags": [
          "Search"
        ],
        "x-fern-sdk-method-name": "search",
        "x-bc-phase": 1,
        "x-bc-units": {
          "base": 3
        },
        "x-bc-scopes": [
          "read:public"
        ],
        "x-bc-cache": "release",
        "x-fern-pagination": {
          "cursor": "$request.cursor",
          "next_cursor": "$response.meta.next_cursor",
          "results": "$response.data"
        },
        "security": [
          {
            "ApiKey": []
          },
          {
            "OAuth2": [
              "read:public"
            ]
          },
          {}
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "The name or identifier to find, at least 2 characters.",
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 200
            },
            "example": "diamond valley"
          },
          {
            "name": "types",
            "in": "query",
            "required": false,
            "description": "Result types, comma-separated. Phase 1 has `entity` only.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "entity"
                ]
              },
              "default": [
                "entity"
              ]
            },
            "example": [
              "entity"
            ],
            "style": "form",
            "explode": false
          },
          {
            "name": "mode",
            "in": "query",
            "required": false,
            "description": "`exact` (default) matches identifiers and normalized names; `fuzzy` adds trigram candidates.",
            "schema": {
              "type": "string",
              "enum": [
                "exact",
                "fuzzy"
              ],
              "default": "exact"
            },
            "example": "exact"
          },
          {
            "name": "class",
            "in": "query",
            "required": false,
            "description": "Only entities of this class.",
            "schema": {
              "$ref": "#/components/schemas/EntityClass"
            },
            "example": "government_org"
          },
          {
            "name": "jurisdiction",
            "in": "query",
            "required": false,
            "description": "Only entities of this jurisdiction.",
            "schema": {
              "$ref": "#/components/schemas/Jurisdiction"
            },
            "example": "ca-ab"
          },
          {
            "$ref": "#/components/parameters/AsOf"
          },
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          },
          {
            "$ref": "#/components/parameters/IfNoneMatch"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Results per page, 1 to 50. Default 20.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 20
            },
            "example": 20
          },
          {
            "$ref": "#/components/parameters/Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of results, best first.",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/ETag"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "BC-Release": {
                "$ref": "#/components/headers/BCRelease"
              },
              "RateLimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "BC-Quota-Remaining": {
                "$ref": "#/components/headers/QuotaRemaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                },
                "examples": {
                  "name": {
                    "summary": "A name",
                    "value": {
                      "data": [
                        {
                          "type": "entity",
                          "entity": {
                            "id": "gid://buildcanada/Entity/01J9ZK4T6M8Q2R5V7X3B1N0C4D",
                            "name": "Town of Diamond Valley",
                            "entity_class": "government_org",
                            "subtype": "municipal_government",
                            "jurisdiction": "ca-ab",
                            "status": "active"
                          },
                          "match": {
                            "kind": "exact",
                            "score": 1,
                            "matched_on": "name"
                          }
                        }
                      ],
                      "meta": {
                        "release": 11,
                        "as_of": "11",
                        "request_id": "req_01JA8X3M2Q9R4T6V8W0Y2Z4B6C",
                        "caveats": [],
                        "limit": 20,
                        "next_cursor": null,
                        "count": null
                      },
                      "links": {
                        "self": "/v1/search?q=diamond+valley&as_of=11",
                        "next": null
                      }
                    }
                  },
                  "identifier": {
                    "summary": "A business number",
                    "value": {
                      "data": [
                        {
                          "type": "entity",
                          "entity": {
                            "id": "gid://buildcanada/Entity/01JA2B3C4D5E6F7G8H9J0K1M2N",
                            "name": "Diamond Valley Community Foundation",
                            "entity_class": "organization",
                            "subtype": "registered_charity",
                            "jurisdiction": "ca-ab",
                            "status": "active"
                          },
                          "match": {
                            "kind": "identifier",
                            "score": 1,
                            "matched_on": "identifier:ca.cra.bn9"
                          }
                        }
                      ],
                      "meta": {
                        "release": 11,
                        "as_of": "11",
                        "request_id": "req_01JA8X3M2Q9R4T6V8W0Y2Z4B6C",
                        "caveats": [],
                        "limit": 20,
                        "next_cursor": null,
                        "count": null
                      },
                      "links": {
                        "self": "/v1/search?q=107511586&as_of=11",
                        "next": null
                      }
                    }
                  }
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/entities": {
      "get": {
        "operationId": "listEntities",
        "summary": "List entities",
        "description": "Entities of the registry, filtered by class, subtype, jurisdiction, status and the\ndate they were valid on. To find an entity by name or identifier use /search; this\noperation lists, it does not match names.",
        "tags": [
          "Entities"
        ],
        "x-fern-sdk-method-name": "list",
        "x-fern-sdk-group-name": "entities",
        "x-bc-phase": 1,
        "x-bc-units": {
          "base": 1,
          "large_page": 2,
          "count_exact": 2
        },
        "x-bc-scopes": [
          "read:public"
        ],
        "x-bc-cache": "release",
        "x-fern-pagination": {
          "cursor": "$request.cursor",
          "next_cursor": "$response.meta.next_cursor",
          "results": "$response.data"
        },
        "security": [
          {
            "ApiKey": []
          },
          {
            "OAuth2": [
              "read:public"
            ]
          },
          {}
        ],
        "parameters": [
          {
            "name": "class",
            "in": "query",
            "required": false,
            "description": "Only entities of this class.",
            "schema": {
              "$ref": "#/components/schemas/EntityClass"
            },
            "example": "government_org"
          },
          {
            "name": "subtype",
            "in": "query",
            "required": false,
            "description": "Only entities of this subtype, such as municipal_government.",
            "schema": {
              "type": "string",
              "pattern": "^[a-z][a-z0-9_]*$"
            },
            "example": "municipal_government"
          },
          {
            "name": "jurisdiction",
            "in": "query",
            "required": false,
            "description": "Only entities of this jurisdiction.",
            "schema": {
              "$ref": "#/components/schemas/Jurisdiction"
            },
            "example": "ca-ab"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Only entities with this roster status, such as active or dissolved.",
            "schema": {
              "type": "string",
              "pattern": "^[a-z][a-z0-9_]*$"
            },
            "example": "active"
          },
          {
            "$ref": "#/components/parameters/ValidOn"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort order. `id` (default, stable) or `name`.",
            "schema": {
              "type": "string",
              "enum": [
                "id",
                "name"
              ],
              "default": "id"
            },
            "example": "name"
          },
          {
            "$ref": "#/components/parameters/Fields"
          },
          {
            "$ref": "#/components/parameters/Count"
          },
          {
            "$ref": "#/components/parameters/AsOf"
          },
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          },
          {
            "$ref": "#/components/parameters/IfNoneMatch"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of entities.",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/ETag"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "BC-Release": {
                "$ref": "#/components/headers/BCRelease"
              },
              "RateLimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "BC-Quota-Remaining": {
                "$ref": "#/components/headers/QuotaRemaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityListResponse"
                },
                "examples": {
                  "municipalities": {
                    "summary": "Alberta municipal governments",
                    "value": {
                      "data": [
                        {
                          "id": "gid://buildcanada/Entity/01J9ZK4T6M8Q2R5V7X3B1N0C4D",
                          "entity_class": "government_org",
                          "subtype": "municipal_government",
                          "name": "Town of Diamond Valley",
                          "name_fr": null,
                          "aliases": [],
                          "anchor": "ca-ab/municipal_affairs/municipalities:0417",
                          "jurisdiction": "ca-ab",
                          "status": "active",
                          "redirected_to": null,
                          "valid_from": "2023-01-01",
                          "valid_to": null,
                          "attributes": {
                            "municipality_type_raw": "Town"
                          },
                          "links": {
                            "identifiers": "/v1/entities/01J9ZK4T6M8Q2R5V7X3B1N0C4D/identifiers?as_of=11",
                            "relationships": "/v1/entities/01J9ZK4T6M8Q2R5V7X3B1N0C4D/relationships?as_of=11",
                            "lineage": "/v1/entities/01J9ZK4T6M8Q2R5V7X3B1N0C4D/lineage?as_of=11",
                            "spending": "/v1/entities/01J9ZK4T6M8Q2R5V7X3B1N0C4D/spending?as_of=11"
                          },
                          "provenance": {
                            "asset": "entities/entities",
                            "release": 9,
                            "snapshot_id": null,
                            "recorded_at": "2026-09-25T18:02:11Z",
                            "capture": null,
                            "locator": null,
                            "source": {
                              "origin": "roster",
                              "source_key": "ca-ab/municipal_affairs/municipalities",
                              "capture_sha256": "388298822179d1c949ea92a24e651d6025055e90a421202f008931b7724167ea",
                              "row_number": 212
                            },
                            "parser_version": null,
                            "license": "OGL-Alberta-2.1"
                          },
                          "cite": "Build Canada entity registry release 11, gid://buildcanada/Entity/01J9ZK4T6M8Q2R5V7X3B1N0C4D; from the Alberta municipal roster, row 212."
                        }
                      ],
                      "meta": {
                        "release": 11,
                        "as_of": "11",
                        "request_id": "req_01JA8X3M2Q9R4T6V8W0Y2Z4B6C",
                        "caveats": [],
                        "limit": 1,
                        "next_cursor": "c1.eyJyIjoxMSwiayI6IjAxSjlaSzRUNk04UTJSNVY3WDNCMU4wQzREIn0.Jq3v",
                        "count": null
                      },
                      "links": {
                        "self": "/v1/entities?class=government_org&subtype=municipal_government&jurisdiction=ca-ab&limit=1&as_of=11",
                        "next": "/v1/entities?class=government_org&subtype=municipal_government&jurisdiction=ca-ab&limit=1&as_of=11&cursor=c1.eyJyIjoxMSwiayI6IjAxSjlaSzRUNk04UTJSNVY3WDNCMU4wQzREIn0.Jq3v"
                      }
                    }
                  }
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/entities/{id}": {
      "get": {
        "operationId": "getEntity",
        "summary": "Get an entity",
        "description": "One entity as of the release that answered, with provenance and a ready-to-paste\ncitation. `expand=identifiers,relationships` embeds them. A merged duplicate returns\n301 to its survivor, so old IDs keep working; an entity ended by lineage returns 200\nwith valid_to set.",
        "tags": [
          "Entities"
        ],
        "x-fern-sdk-method-name": "get",
        "x-fern-sdk-group-name": "entities",
        "x-bc-phase": 1,
        "x-bc-units": {
          "base": 1
        },
        "x-bc-scopes": [
          "read:public"
        ],
        "x-bc-cache": "release",
        "security": [
          {
            "ApiKey": []
          },
          {
            "OAuth2": [
              "read:public"
            ]
          },
          {}
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/EntityId"
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "description": "Embed related objects, comma-separated: `identifiers`, `relationships` (first 50 outgoing).",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "identifiers",
                  "relationships"
                ]
              }
            },
            "example": [
              "identifiers"
            ],
            "style": "form",
            "explode": false
          },
          {
            "$ref": "#/components/parameters/Fields"
          },
          {
            "$ref": "#/components/parameters/AsOf"
          },
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          },
          {
            "$ref": "#/components/parameters/IfNoneMatch"
          }
        ],
        "responses": {
          "200": {
            "description": "The entity.",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/ETag"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "BC-Release": {
                "$ref": "#/components/headers/BCRelease"
              },
              "RateLimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "BC-Quota-Remaining": {
                "$ref": "#/components/headers/QuotaRemaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityResponse"
                },
                "examples": {
                  "with_identifiers": {
                    "summary": "Diamond Valley with identifiers",
                    "value": {
                      "data": {
                        "id": "gid://buildcanada/Entity/01J9ZK4T6M8Q2R5V7X3B1N0C4D",
                        "entity_class": "government_org",
                        "subtype": "municipal_government",
                        "name": "Town of Diamond Valley",
                        "name_fr": null,
                        "aliases": [],
                        "anchor": "ca-ab/municipal_affairs/municipalities:0417",
                        "jurisdiction": "ca-ab",
                        "status": "active",
                        "redirected_to": null,
                        "valid_from": "2023-01-01",
                        "valid_to": null,
                        "attributes": {
                          "municipality_type_raw": "Town"
                        },
                        "links": {
                          "identifiers": "/v1/entities/01J9ZK4T6M8Q2R5V7X3B1N0C4D/identifiers?as_of=11",
                          "relationships": "/v1/entities/01J9ZK4T6M8Q2R5V7X3B1N0C4D/relationships?as_of=11",
                          "lineage": "/v1/entities/01J9ZK4T6M8Q2R5V7X3B1N0C4D/lineage?as_of=11",
                          "spending": "/v1/entities/01J9ZK4T6M8Q2R5V7X3B1N0C4D/spending?as_of=11"
                        },
                        "provenance": {
                          "asset": "entities/entities",
                          "release": 9,
                          "snapshot_id": null,
                          "recorded_at": "2026-09-25T18:02:11Z",
                          "capture": null,
                          "locator": null,
                          "source": {
                            "origin": "roster",
                            "source_key": "ca-ab/municipal_affairs/municipalities",
                            "capture_sha256": "388298822179d1c949ea92a24e651d6025055e90a421202f008931b7724167ea",
                            "row_number": 212
                          },
                          "parser_version": null,
                          "license": "OGL-Alberta-2.1"
                        },
                        "cite": "Build Canada entity registry release 11, gid://buildcanada/Entity/01J9ZK4T6M8Q2R5V7X3B1N0C4D; from the Alberta municipal roster, row 212.",
                        "identifiers": [
                          {
                            "namespace": "ca.statcan.csd_uid",
                            "value": "4806014",
                            "verified": true,
                            "vintage": "2021",
                            "valid_from": null,
                            "valid_to": null,
                            "provenance": {
                              "asset": "entities/identifiers",
                              "release": 11,
                              "recorded_at": "2026-09-27T03:10:44Z",
                              "source": {
                                "origin": "roster",
                                "source_key": "buildcanada/jurisdictions",
                                "capture_sha256": "0d3e12e5a8c8144cbaa4f7358c0ec728d638bd878e79b1586d717a5761b47891",
                                "row_number": 4412
                              },
                              "license": "OGL-Canada-2.0"
                            }
                          }
                        ]
                      },
                      "meta": {
                        "release": 11,
                        "as_of": "11",
                        "request_id": "req_01JA8X3M2Q9R4T6V8W0Y2Z4B6C",
                        "caveats": []
                      },
                      "links": {
                        "self": "/v1/entities/01J9ZK4T6M8Q2R5V7X3B1N0C4D?expand=identifiers&as_of=11"
                      }
                    }
                  }
                }
              }
            }
          },
          "301": {
            "$ref": "#/components/responses/MovedPermanently"
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/entities/{id}/identifiers": {
      "get": {
        "operationId": "listEntityIdentifiers",
        "summary": "List an entity's identifiers",
        "description": "The external identifiers the entity holds: business numbers, band numbers, census\ncodes, open.canada.ca organization codes, LEIs. Each says whether it was verified\nagainst its issuer's register.",
        "tags": [
          "Entities"
        ],
        "x-fern-sdk-method-name": "list",
        "x-fern-sdk-group-name": [
          "entities",
          "identifiers"
        ],
        "x-bc-phase": 1,
        "x-bc-units": {
          "base": 1,
          "large_page": 2
        },
        "x-bc-scopes": [
          "read:public"
        ],
        "x-bc-cache": "release",
        "x-fern-pagination": {
          "cursor": "$request.cursor",
          "next_cursor": "$response.meta.next_cursor",
          "results": "$response.data"
        },
        "security": [
          {
            "ApiKey": []
          },
          {
            "OAuth2": [
              "read:public"
            ]
          },
          {}
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/EntityId"
          },
          {
            "name": "namespace",
            "in": "query",
            "required": false,
            "description": "Only identifiers of this namespace, such as ca.cra.bn9.",
            "schema": {
              "type": "string"
            },
            "example": "ca.statcan.csd_uid"
          },
          {
            "$ref": "#/components/parameters/AsOf"
          },
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          },
          {
            "$ref": "#/components/parameters/IfNoneMatch"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of identifiers.",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/ETag"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "BC-Release": {
                "$ref": "#/components/headers/BCRelease"
              },
              "RateLimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "BC-Quota-Remaining": {
                "$ref": "#/components/headers/QuotaRemaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdentifierListResponse"
                },
                "examples": {
                  "identifiers": {
                    "summary": "Diamond Valley's identifiers",
                    "value": {
                      "data": [
                        {
                          "namespace": "ca.statcan.csd_uid",
                          "value": "4806014",
                          "verified": true,
                          "vintage": "2021",
                          "valid_from": null,
                          "valid_to": null,
                          "provenance": {
                            "asset": "entities/identifiers",
                            "release": 11,
                            "recorded_at": "2026-09-27T03:10:44Z",
                            "source": {
                              "origin": "roster",
                              "source_key": "buildcanada/jurisdictions",
                              "capture_sha256": "0d3e12e5a8c8144cbaa4f7358c0ec728d638bd878e79b1586d717a5761b47891",
                              "row_number": 4412
                            },
                            "license": "OGL-Canada-2.0"
                          }
                        }
                      ],
                      "meta": {
                        "release": 11,
                        "as_of": "11",
                        "request_id": "req_01JA8X3M2Q9R4T6V8W0Y2Z4B6C",
                        "caveats": [],
                        "limit": 50,
                        "next_cursor": null,
                        "count": null
                      },
                      "links": {
                        "self": "/v1/entities/01J9ZK4T6M8Q2R5V7X3B1N0C4D/identifiers?as_of=11",
                        "next": null
                      }
                    }
                  }
                }
              }
            }
          },
          "301": {
            "$ref": "#/components/responses/MovedPermanently"
          },
          "304": {
            "$ref": "#/components/responses/NotModified"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/entities/{id}/relationships": {
      "get": {
        "operationId": "listEntityRelationships",
        "summary": "List an entity's relationships",
        "description": "Dated, cited relationships in which the entity is the subject (`direction=out`), the\nobject (`in`) or either (default): who it reports to, what it governs, where it is\nlocated, what it is a member of, who owns it. Use /lineage for predecessors and\nsuccessors.",
        "tags": [
          "Entities"
        ],
        "x-fern-sdk-method-name": "list",
        "x-fern-sdk-group-name": [
          "entities",
          "relationships"
        ],
        "x-bc-phase": 1,
        "x-bc-units": {
          "base": 1,
          "large_page": 2
        },
        "x-bc-scopes": [
          "read:public"
        ],
        "x-bc-cache": "release",
        "x-fern-pagination": {
          "cursor": "$request.cursor",
          "next_cursor": "$response.meta.next_cursor",
          "results": "$response.data"
        },
        "security": [
          {
            "ApiKey": []
          },
          {
            "OAuth2": [
              "read:public"
            ]
          },
          {}
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/EntityId"
          },
          {
            "name": "predicate",
            "in": "query",
            "required": false,
            "description": "Only these predicates, comma-separated.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Predicate"
              }
            },
            "example": [
              "located_within"
            ],
            "style": "form",
            "explode": false
          },
          {
            "name": "direction",
            "in": "query",
            "required": false,
            "description": "`out` (the entity is the subject), `in` (the object) or `both` (default).",
            "schema": {
              "type": "string",
              "enum": [
                "out",
                "in",
                "both"
              ],
              "default": "both"
            },
            "example": "out"
          },
          {
            "$ref": "#/components/parameters/ValidOn"
          },
          {
            "$ref": "#/components/parameters/AsOf"
          },
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          },
          {
            "$ref": "#/components/parameters/IfNoneMatch"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of relationships.",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/ETag"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "BC-Release": {
                "$ref": "#/components/headers/BCRelease"
              },
              "RateLimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "BC-Quota-Remaining": {
                "$ref": "#/components/headers/QuotaRemaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RelationshipListResponse"
                },
                "examples": {
                  "relationships": {
                    "summary": "Diamond Valley's relationships",
                    "value": {
                      "data": [
                        {
                          "id": "6839017a5c944c9319c8a20a6d14a83bb61f8a32713d3f9d3f5315ead7f8cc71",
[...]
